﻿<nav class="navbar navbar-default make-flat">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a href="#" class="navbar-brand">Welcome @User.Identity.Name !</a>*@
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="lnkDashBoard"><a href="/admin">Unverified Users</a></li>
                <li id="lnkVerifiedUsers"><a href="/admin/verifiedusers">Verified Users</a></li>
                <li id="lnkOfficeDetails"><a href="/admin/officedetail">Office Details</a></li>
                <li id="lnkClientDetails"><a href="/admin/ClientDetail">Client Details</a></li>
                <li id="lnkUnverifiedOffices"><a href="/admin/unverifiedoffices">Unverified Offices</a></li>
                <li id="lnkVerifiedOffices"><a href="/admin/verifiedoffices">Verified Offices</a></li>
                <li id="lnkChangePassword"><a href="/admin/changepassword">Change Password</a></li>
                <li><a href="/auth/adminlogout">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
