﻿@model NLKProjectV2.Models.ForgotPasswordModel

<div class="row">
    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
        <div class="error-label">@Html.ValidationSummary()</div>
        <div class="panel panel-default make-flat">
            <div class="panel-heading">FORGOT PASSWORD</div>
            <div class="panel-body">
                <p>Please supply a registered valid e-mail address because the password reset information is sent to you via e-mail.</p>
                <hr />
                <a href="/auth/login"><i class="fa fa-home"></i> Go to Home</a>
                <hr />
                <form method="post" action="/auth/forgotpassword">
                    <div class="form-group">
                        <label for="userNo">NLK Number</label>
                        <input type="text" class="form-control" id="userNo" name="NLKNo" placeholder="NLK Number or Username">
                        <span class="error-label">@Html.ValidationMessageFor(x => x.NLKNo)</span>
                    </div>
                    <div class="form-group">
                        <label for="userNo">Registered E-mail Address</label>
                        <input type="text" class="form-control" id="userNo" name="Email" placeholder="Registered Email Address">
                        <span class="error-label">@Html.ValidationMessageFor(x => x.Email)</span>
                    </div>
                    <button type="submit" class="btn btn-default make-flat">REQUEST PASSWORD</button>
                </form>
            </div>
        </div>
    </div>
</div>
