﻿@model NLKProjectV2.Models.LogInModel

@{
    ViewBag.Title = "Login :: Nagarik Lagani Kosh";
}

<div class="row">
    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
        <div class="panel panel-default make-flat">
            <div class="panel-heading">Please login to continue</div>
            <div class="panel-body">
                <div class="upper-error">
                    <p>@Html.ValidationMessage("AuthFailed")</p>
                </div>
                <form method="post" action="/auth/login">
                    <div class="form-group">
                        <label for="userNo">NLK Number / Username</label>
                        <input type="text" class="form-control" id="userNo" name="UserNo" placeholder="NLK Number or Username">
                        <span class="error-label">@Html.ValidationMessageFor(x => x.UserNo)</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="Password" placeholder="Password">
                        <span class="error-label">@Html.ValidationMessageFor(x => x.Password)</span>
                    </div>
                    <button type="submit" class="btn btn-default make-flat">LOG IN</button>
                </form>
                <hr />
                <div class="center-content">
                    <a href="/auth/signup" class="btn btn-default make-flat"><i class="fa fa-area-chart"></i> CREATE AN ACCOUNT</a>
                    <a href="/auth/forgotpassword" class="btn btn-default make-flat"><i class="fa fa-lock"></i> FORGOT PASSWORD</a>
                </div>
            </div>
        </div>

    </div> 
</div>


