﻿<div class="row">
    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
        <div class="panel panel-default make-flat">
            <div class="panel-heading">EMAIL SENT</div>
            <div class="panel-body">
                <p class="text-justify">An e-mail has been sent to you for the password request change. Please follow the link there to reset your password.</p>
                <hr />
                <a href="/auth/corporatelogin"><i class="fa fa-home"></i> Go to Home</a>
                <hr />
                <div class="center-content">
                    <h3>THANK YOU!</h3>
                </div>
            </div>
        </div>
    </div>
</div>
