﻿<div class="row">
    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
        <div class="panel panel-default make-flat">
            <div class="panel-heading">PASSWORD CHANGED</div>
            <div class="panel-body">
                <p class="text-justify">The Password for the user with NLK No @ViewBag.Id has been changed.</p>
                <hr />
                <a href="/auth/login"><i class="fa fa-lock"></i> Go to Login</a>
                <hr />
                <div class="center-content">
                    <h3>THANK YOU!</h3>
                </div>
            </div>
        </div>
    </div>
</div>
