﻿@{
    ViewBag.Title = "Registration Completed!";
}

<div class="row">
    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
        <div class="panel panel-default make-flat">
            <div class="panel-heading">THANK YOU FOR THE REGISTRATION</div>
            <div class="panel-body">
                <p class="text-justify">The information you provided for the NLK No. @ViewBag.Message has been received by the <strong>Administrator</strong>. </p>
                <p>An e-mail has also been sent to the provided address for further instructions. Please check your e-mail.</p>
                <hr />
                <a href="/auth/corporatelogin"><i class="fa fa-home"></i> Go to Home</a>
                <hr />
                <div class="center-content">
                    <h3>THANK YOU!</h3>
                </div>
            </div>
        </div>
    </div>
</div>
