﻿@model IEnumerable<NLKProjectV2.Models.User>

@section styles{
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/dtbuttons.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Content/DataTables/datatables.min.js"></script>
    <script src="~/Content/DataTables/DataTables-1.10.12/dtbuttons.js"></script>
    <script src="~/Content/DataTables/pdfmake.js"></script>
    <script src="~/Content/DataTables/vfs_fonts.js"></script>
    <script src="~/Content/DataTables/jszip.js"></script>
    <script src="~/Content/DataTables/buttons.html5.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#staff_table").DataTable({
                dom: 'Bfrtip',
                pageLength: 20,
                "bSort": false,
                buttons: ['excel']
            });
            $("#lnkStaffDetails").addClass("active");
        });
    </script>
}


@Html.Partial("_OfficeMenu")
<hr />
<div class="row">
    <div class="col-lg-12 col-md-12">
        @{
            if (Model.Count() != 0)
            {
                <h1 class="nepali-font text-center">@Model.FirstOrDefault().OfficeName </h1>
                <h3 class="nepali-font text-center">@Model.FirstOrDefault().OfficeAddress</h3>
                <hr />
                <h4>कर्मचारीको विवरण | कर्मचारीको संख्या : <span class="nepali-font">@Model.Count()</span></h4>
                <hr />
                <table class="table" id="staff_table">
                    <thead>
                        <tr>
                            <th>नाम</th>
                            <th>ठेगाना</th>
                            <th>परिचय पत्र न.</th>
                            <th>Account</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var users in Model)
                        {
                            <tr>
                                <td class="nepali-font">@users.Name</td>
                                <td class="nepali-font">@users.Address</td>
                                <td class="nepali-font">@users.NLKNo</td>
                                <td><a href="/office/useraccount/@users.NLKNo">Account Details</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h4>There are no staffs registered for this office.</h4>
            }
        }
    </div>
</div>
