﻿
@model NLKProjectV2.Models.ForgotPasswordViewModel

<div class="row">
    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
        <div class="panel panel-default make-flat">
            <div class="panel-heading">CHANGE USER PASSWORD</div>
            <div class="panel-body">
                <div class="upper-error">
                    <p>@Html.ValidationSummary()</p>
                </div>
                <form method="post" action="/admin/ChangeUserPassword">
                    @Html.HiddenFor(x => x.NLKId)
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" id="password" name="NewPassword" placeholder="New Password">
                        <span class="error-label">@Html.ValidationMessageFor(x => x.NewPassword)</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm New Password</label>
                        <input type="password" class="form-control" id="conPassword" name="NewPasswordConfirm" placeholder="New Password Confirm">
                        <span class="error-label">@Html.ValidationMessageFor(x => x.NewPasswordConfirm)</span>
                    </div>
                    <input type="submit" id="btnSubmit" class="btn btn-default make-flat" value="CHANGE THE PASSWORD" />
                </form>
            </div>
        </div>


    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                if ($("#password").val() != $("#conPassword").val()) {
                    alert("The password and confirm password do not match!");
                    return false;
                }
            });
        });
    </script>
}


