﻿@model NLKProjectV2.Models.AdminPasswordChangeViewModel
@Html.Partial("_AdminMenu")<hr />
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#lnkChangePassword").addClass("active");
            $("#btnSubmit").click(function () {
                if ($("#newPassword").val() == "")
                {
                    alert("The Password cannot be empty.");
                    return false;
                }
                if ($("#newPassword").val() != $("#newPasswordConfirm").val()) {
                    alert("The passwords do not match!");
                    return false;
                }
                else
                {
                    var conf = confirm("Are you sure to change the password?");
                    if (!conf) {
                        return false;
                    }
                }
            });
        });
    </script>
}

@if (ViewBag.Success != null)
{
    <h3>@ViewBag.Success</h3>
}
<span class="error-label">@Html.ValidationSummary()</span>
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-default make-flat">
            <div class="panel-heading">CHANGE PASSWORD</div>
            <div class="panel-body">
                <div class="upper-error">
                    <p>@Html.ValidationMessage("AuthFailed")</p>
                </div>
                <form method="post" action="/admin/changepassword">
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="NewPassword" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm New Password</label>
                        <input type="password" class="form-control" id="newPasswordConfirm" name="NewPasswordConfirm" placeholder="New Password Confirm">
                    </div>
                    <button id="btnSubmit" type="submit" class="btn btn-default make-flat">CHANGE THE PASSWORD</button>
                </form>
            </div>
        </div>
    </div>
</div>
