﻿
@*@model IEnumerable<NLKProjectV2.Models.User>*@
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#lnkClientDetails").addClass("active");
        });
    </script>
}
@Html.Partial("_AdminMenu")<hr />
<h3>Users By Office</h3>
<hr />
@if (@TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <button type="button" class="c  lose" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="fa fa-close" aria-hidden="true"></i> @TempData["ErrorMessage"]
    </div>

}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <form method="post" action="/admin/UserAccount">
            <table>
                <tr>
                    <td><input type="text" value="@ViewBag.ID" class="form-control make-flat" name="id" placeholder="Client CIT ID"></td>
                    <td><input type="submit" class="btn btn-primary make-flat" value="Search" /></td>
                </tr>
            </table>
        </form>
        @*@if (Model != null)
    {
       <h1 class="nepali-font text-center">@Model.FirstOrDefault().OfficeName </h1>
        <h3 class="nepali-font text-center">@Model.FirstOrDefault().OfficeAddress</h3>
        <hr />
        <h4>कर्मचारीको विवरण | कर्मचारीको संख्या : <span class="nepali-font">@Model.Count()</span></h4>*@
            <hr />
            @*<table class="table">
            <thead>
                <tr>
                    <th>नाम</th>
                    <th>ठेगाना</th>
                    <th>परिचय पत्र न.</th>
                    <th>ई-मेल</th>
                    <th>मोबाईल</th>
                    <th>Action</th>
                </tr>
            </thead>
            @*<tbody>
                @foreach (var users in Model)
                {
                    <tr>
                        <td class="nepali-font">@users.Name</td>
                        <td class="nepali-font">@users.Address</td>
                        <td class="nepali-font">@users.NLKNo</td>
                        <td>@users.Email</td>
                        <td>@users.MobileNo</td>
                        <td><a href="/admin/useraccount/@users.NLKNo">View Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }*@

    </div>
</div>

