﻿@using PagedList;
@using PagedList.Mvc;


@model IPagedList<NLKProjectV2.Models.User>
@{
    var searchTerm = "";
    if (Model.Count() == 1)
    {
        searchTerm = Model.FirstOrDefault().NLKNo;
    }
            
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#lnkDashBoard").addClass("active");
        });
    </script>
}

@Html.Partial("_AdminMenu")
<hr />
<div class="row">
    <div class="col-lg-12 col-md-12">
        <form method="post" action="/admin">
            <table class="search-table">
                <tr>
                    <td><input type="text" value="@searchTerm" name="SearchID" class="form-control make-flat" placeholder="NLK Number" /></td>
                    <td><input type="text" name="SearchEmail" class="form-control make-flat" placeholder="Email" /></td>
                    <td><input type="text" name="SearchMobile" class="form-control make-flat" placeholder="Mobile Number" /></td>
                    <td><input type="submit" class="btn btn-primary make-flat" value="Search" /></td>
                </tr>
            </table>
        </form>
        
        @if (@ViewBag.SearchParameters != null)
        {
            <hr />
            <h4>
                <strong>NLK Number: </strong>@ViewBag.SearchParameters.SearchID |
                @{
                    if (@ViewBag.SearchParameters.SearchEmail == null)
                    {
                        var abc = @ViewBag.SearchParameters.SearchEmail;
                        abc = "ALL";

                        <strong>Email: </strong>@abc
                    }
                    else
                    {
                        <strong>Email: </strong>@ViewBag.SearchParameters.SearchEmail
                    }
                }
                
                |
                @{
                    if (@ViewBag.SearchParameters.SearchMobile == null)
                    {
                        var abc = @ViewBag.SearchParameters.SearchMobile;
                        abc = "ALL";

                        <strong>Mobile Number: </strong>@abc
                    }
                    else
                    {
                        <strong>Mobile Number: </strong>@ViewBag.SearchParameters.SearchMobile
                    }
                }
                
            </h4>
        }
        
    </div>
</div>
<hr />
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>NLK No.</th>
        <th>Name</th>
        <th>Email</th>
        <th>State</th>
        <th>A/C Created Date</th>
        <th>Mobile</th>
        <th>Action</th>
    </tr>
    @if (Model.Count() == 0)
    { 
        <tr><td colspan="6" class="text-center">There are no items!</td></tr>
    }
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.NLKNo</td>
            <td class="nepali-font">@user.NameOfUser</td>
            <td>@user.Email</td>
            <td>
                @if (user.State == "Block")
                { 
                    <span>Unverified</span>
                }
            </td>
            <td>@{
                if (String.IsNullOrEmpty(user.CreatedDate))
                {
                    <span>NA</span>
                }
                else
                {
                    <span>@Convert.ToDateTime(user.CreatedDate).ToString("yyyy-MM-dd")</span>
                }
            }</td>
            <td>@user.MobileNo</td>
            <td><a href="/admin/viewdetails/@user.NLKNo"><i class="fa fa-fighter-jet"></i> View Details</a></td>
        </tr>
    }
</table>
<hr />
@Html.PagedListPager(Model, page => Url.Action("Index", new { page}))

