﻿@model IEnumerable<NLKProjectV2.Models.Office>

@Html.Partial("_AdminMenu")<hr />

@section styles{
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
}
@section scripts{
    @*<script src="~/Content/DataTables/jQuery-2.2.3/jquery-2.2.3.min.js"></script>*@
    <script src="~/Content/DataTables/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#lnkUnverifiedOffices").addClass("active");
            $('#officeTable').DataTable()
        });
    </script>
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <table id="officeTable" class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>NLK No.</th>
                    <th>Office Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>State</th>
                    <th>Applied Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var office in Model)
                {
                    <tr>
                        <td>@office.OfficeNLK</td>
                        <td class="nepali-font">@office.OfficeName</td>
                        <td>@office.Email</td>
                        <td>@office.Phone</td>
                        <td>
                            @{ 
                                if (office.IsVerified == 0)
                                {
                                    <span><strong>Unverified</strong></span>
                                }
                                else
                                {
                                    <span><strong>Verified</strong></span>
                                }
                            }
                        </td>
                        <td>@Convert.ToDateTime(office.ApplicationDate).ToString("d MMM,yyyy")</td>
                        <td><a href="/admin/unverifiedoffice/@office.OfficeNLK"><i class="fa fa-edit"></i> Details</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
