﻿@model NLKProjectV2.Models.Office

@Html.Partial("_AdminMenu")<hr />

<h3>Details of Office @Model.OfficeNLK ( <span class="nepali-font">@Model.OfficeName</span> )</h3>

<hr />
@if (Model.IsVerified == 0)
{
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <table class="tabble table-bordered table-condensed">
                <tr><td><strong>Email</strong></td><td>@Model.Email</td></tr>
                <tr><td><strong>Phone</strong></td><td>@Model.Phone</td></tr>
                <tr><td><strong>Contact Person</strong></td><td>@Model.ContactPerson</td></tr>
                <tr><td><strong>Address</strong></td><td class="nepali-font">@Model.Address</td></tr>
                <tr><td><strong>District</strong></td><td>@Model.DistrictName</td></tr>
                <tr><td><strong>Pradesh</strong></td><td>@Model.PradeshName</td></tr>
                <tr><td><strong>Application Date</strong></td><td>@Convert.ToDateTime(Model.ApplicationDate).ToString("d MMM, yyyy")</td></tr>
            </table>
            <hr />
            <a href="/admin/verifyoffice/@Model.OfficeNLK" class="btn btn-primary make-flat lnkVerify">VERIFY THIS OFFICE</a>
            <a href="/admin/rejectoffice/@Model.OfficeNLK?message=" class="btn btn-danger make-flat lnkReject">REJECT THIS OFFICE</a>
        </div>
        <div class="col-lg-7 col-md-7">
            <div class="thumbnail">
                <img class="img-responsive" src="~/Uploads/officeapplications/@Model.ApplicationLetterPath" />
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h3>This Office has already been verified.</h3>
        </div>
    </div>
}


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#lnkUnverifiedOffices").addClass("active");
            $(".lnkVerify").click(function () {
                var confVerify = confirm("Are you sure to verify this office?");
                if (!confVerify) { return false; }
            });
            $(".lnkReject").click(function () {
                var confReject = confirm("Are you sure to reject this office?");
                if (!confReject) { return false; }
                var message = prompt('Enter additional information for rejection', 'Some Text Here.');

                var appendUrl = $('.lnkReject').attr('href');

                $('.lnkReject').attr('href', appendUrl + message);

            });
        });
    </script>
}