﻿@model NLKProjectV2.Models.User

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#lnkVerifiedUsers").addClass("active");
            $("#btnDelete").click(function () {
                var conf = confirm("Are You sure to delete this user?");
                if (!conf)
                {
                    return false;
                }
            });
        });
    </script>
}

<h3>Details of User @Model.NLKNo</h3>
@Html.Partial("_AdminMenu")<hr />
<div class="row">
    <div class="col-lg-6 col-md-6">
        <table class="table table-bordered table-condensed">
            <tr><td><strong>NLK Number</strong></td><td>@Model.NLKNo</td></tr>
            <tr><td><strong>Name</strong></td><td class="nepali-font">@Model.NameOfUser</td></tr>
            <tr><td><strong>Email</strong></td><td>@Model.Email</td></tr>
            <tr><td><strong>Mobile</strong></td><td>@Model.MobileNo</td></tr>
            <tr><td><strong>Default Password</strong></td><td>@Model.DefaultPass</td></tr>
            <tr><td><strong>State</strong></td><td>@Model.State</td></tr>
            <tr><td><strong>Father Name</strong></td><td>@Model.FatherName</td></tr>
            <tr><td><strong>Mother Name</strong></td><td>@Model.MotherName</td></tr>
            <tr><td><strong>Grandfather Name</strong></td><td>@Model.GrandfatherName</td></tr>
            <tr><td><strong>Citizenship No</strong></td><td>@Model.CitizenshipNumber</td></tr>
            <tr><td><strong>Citizenship Issue District</strong></td><td>@Model.CitizenshipIssueDistrict</td></tr>

        </table>
        <a href="#" id="btnSubmit" class="btn btn-default make-flat">
            @if (Model.State == "Unblock")
            { 
                <span>This user is Verified.</span>
            }
        </a>
        <a id="btnDelete" href="/admin/deleteverifieduser/@Model.NLKNo" class="btn btn-danger make-flat">Delete this User</a>
        <a id="btnChangePassword" href="/admin/changeuserpassword/@Model.NLKNo" class="btn btn-primary make-flat">Change Password</a>
        <hr />
        <h2>USER LOGIN DETAILS</h2>
        <table class="table table-bordered table-condensed">
            <tr>
                <th>Log Date</th>
                <th>Log Time</th>
                <th>IP</th>
            </tr>
            @if (@Model.LogDetails.Count() == 0)
            { 
                <tr><td colspan="2" class="text-center"><strong>Not Logged In Yet!</strong></td></tr>
            }
            @foreach (var log in @Model.LogDetails)
            {
                <tr>
                    <td>@log.LogDate.ToString("MMM d, yyyy")</td>
                    <td>@log.LogDate.TimeOfDay</td>
                    <td>@log.IP</td>
                </tr>
            }

        </table>
    </div>
    <div class="col-lg-6 col-md-6">
        <img class="img-responsive thumbnail" src="/uploads/@Model.Ext" />
        <img class="img-responsive thumbnail" src="/uploads/@Model.Ext2" />
    </div>
</div>


