﻿@model NLKProjectV2.Models.User
           
<div class="row">
    <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3">
        <div class="panel panel-default make-flat">
            <div class="panel-heading">USER VERIFIED</div>
            <div class="panel-body">
                <p class="text-justify">The user @Model.Name with NLK ID @Model.NLKNo is Verified</p>
                <hr />
                <a href="/admin"><i class="fa fa-home"></i> Go to Home</a>
                <hr />
                <div class="center-content">
                    <h3>THANK YOU!</h3>
                </div>
            </div>
        </div>
    </div>
</div>
