﻿@model NLKProjectV2.Models.User

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                var con = confirm("Are you sure to submit this user?");
                if (!con) {
                    return false;
                }
            });
            $("#btnReject").click(function () {
                var con = confirm("Are you sure to reject this user?");
                if (!con) {
                    return false;
                }
                var message = prompt('Enter additional information for rejection', 'Some Text Here.');

                var appendUrl = $('#btnReject').attr('href');

                $('#btnReject').attr('href', appendUrl + message);

            });
        });
    </script>
}
<h3>Details of User @Model.NLKNo</h3>
@Html.Partial("_AdminMenu")<hr />
<div class="row">
    <div class="col-lg-6 col-md-6">
        <table class="table table-bordered table-condensed">
            <tr><td><strong>NLK Number</strong></td><td>@Model.NLKNo</td></tr>
            <tr><td><strong>Name</strong></td><td class="nepali-font">@Model.NameOfUser</td></tr>
            <tr><td><strong>Email</strong></td><td>@Model.Email</td></tr>
            <tr><td><strong>Mobile</strong></td><td>@Model.MobileNo</td></tr>
            <tr><td><strong>Default Password</strong></td><td>@Model.DefaultPass</td></tr>
            <tr><td><strong>State</strong></td><td>@Model.State</td></tr>
            <tr><td><strong>Father Name</strong></td><td>@Model.FatherName</td></tr>
            <tr><td><strong>Mother Name</strong></td><td>@Model.MotherName</td></tr>
            <tr><td><strong>Grandfather Name</strong></td><td>@Model.GrandfatherName</td></tr>
            <tr><td><strong>Citizenship No</strong></td><td>@Model.CitizenshipNumber</td></tr>
            <tr><td><strong>Citizenship Issue District</strong></td><td>@Model.CitizenshipIssueDistrict</td></tr>

        </table>
        <a href="/admin/verifyuser/@Model.NLKNo" id="btnSubmit" class="btn btn-primary make-flat">VERIFY THIS USER</a>
        <a href="/admin/rejectuser/@Model.NLKNo?message=" id="btnReject" class="btn btn-danger make-flat">REJECT THIS USER</a>
    </div>
    <div class="col-lg-6 col-md-6">
        <img class="img-responsive thumbnail" src="/uploads/@Model.Ext" />
        <img class="img-responsive thumbnail" src="/uploads/@Model.Ext2" />
    </div>
</div>

