﻿@model NLKProjectV2.Models.TransactionDetailViewModel
@using NLKProjectV2.Models


@{
    var YearValue = 0;
    if (ViewBag.YearValue != null)
    {
        YearValue = (int)ViewBag.YearValue;
    }
}
@section scripts{
    <script src="~/Content/DataTables/datatables.min.js"></script>
    <script src="~/Content/DataTables/DataTables-1.10.12/dtbuttons.js"></script>
    <script src="~/Content/DataTables/pdfmake.js"></script>
    <script src="~/Content/DataTables/vfs_fonts.js"></script>
    <script src="~/Content/DataTables/jszip.js"></script>
    <script src="~/Content/DataTables/buttons.html5.js"></script>
    <script src="~/Content/DataTables/print.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#lnkViewTransactions").addClass("active");
            $("#trans_table").DataTable({
                dom: 'Bfrtip',
                pageLength: 20,
                "bSort": false,
                buttons: [
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body)
                                .prepend(
                                    '<h2 style="text-align:center">नागरिक लगानी कोष</h2>\
                                     <h5 class="nepali-font" style="text-align:center">४७८१६७३  ४७८५३१९  ४७८५३२५  ४७८४२९८  ४७८५३२१ </h5><hr/>\
                                    <h4 class="nepali-font">@Model.EmployeeDetail.Name . @Model.EmployeeDetail.NLKNo</h4>\
                                    <h5 class="nepali-font">@Model.OfficeDetail.OfficeName</h5>\
                                    <hr/>'
                                );

                            $(win.document.body).find('table tbody')
                                .addClass('nepali-font')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            }).row.add(['', '', '', '<b>जम्मा</b>', '<b> <span class="nepali-font">@ViewBag.Sum</span></b>', '', '<b><span class="nepali-font">@ViewBag.IntrestSum</span></b>']).draw(false);

            $("#other_details_table").DataTable({
                dom: 'Bfrtip',
                pageLength: 20,
                "bSort": false,
                buttons: [
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body)
                                .prepend(
                                    '<h2 style="text-align:center">नागरिक लगानी कोष</h2>\
                                     <h5 class="nepali-font" style="text-align:center">९७७-१-४७८१६७३  ४७८५३१९  ४७८५३२५  ४७८४२९८  ४७८५३२१ </h5><hr/>\
                                    <h4 class="nepali-font">@Model.EmployeeDetail.Name . @Model.EmployeeDetail.NLKNo</h4>\
                                    <h5 class="nepali-font">@Model.OfficeDetail.OfficeName</h5>\
                                    <hr/>'

                                );

                            $(win.document.body).find('table tbody')
                                .addClass('nepali-font')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });


        });
    </script>
}
@section styles{
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/dtbuttons.css" rel="stylesheet" />

}
<div class="row">
    <div class="col-lg-12 col-md-12">
        @Html.Partial("_UserMenu")
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3">
        <form action="/home" method="post">
            <strong>View Records Of Year : </strong>
            <select id="ddl" name="YearValue" onchange='form.submit()' class="form-control nepali-font">
                <option value="0">सबै वर्ष </option>
                @foreach (var item in Model.YearList)
                {
                    <option class="nepali-font" @(item.Id == YearValue ? "selected" : "") value="@item.Id">@item.Value</option>
                }
            </select>
        </form>
       
    </div>
</div>
<div class="row" id="printDivId">
    <div class="col-lg-12 col-md-12">
        <hr />
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <table class="table table-condensed table-bordered">
                    <tr><td><strong>NLK Number: </strong></td><td>@Model.EmployeeDetail.NLKNo</td></tr>
                    <tr><td><strong>Name: </strong></td><td class="nepali-font">@Model.EmployeeDetail.Name</td></tr>
                    <tr><td><strong>Office: </strong></td><td class="nepali-font">@Model.OfficeDetail.OfficeName</td></tr>
                    @if (@Model.ImmediateOffice.OfficeID != 0 && @Model.ImmediateOffice.OfficeID != 13663)
                    {
                        <tr><td><strong>Immediate Office: </strong></td><td class="nepali-font">@Model.ImmediateOffice.OfficeName</td></tr>
                    }

                </table>
                <p onclick="window.print()" class="no-print" style="cursor:pointer"><i class="fa fa-print fa-4x"></i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <hr />
            </div>
        </div>
        <div class="row">

            <table class="table" id="trans_table">
                <thead>
                    <tr>
                        <th>का. कोड</th>
                        <th>ब्य. कोड </th>
                        <th>भौचर मिती</th>
                        <th>वर्ष</th>
                        <th>महिना</th>
                        <th>रकम</th>
                        <th>दिन</th>
                        <th>ब्याज</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        IEnumerable<Transaction> yearlyData = (IEnumerable<Transaction>)ViewBag.yearlyList;

                    }


                    @{List<Transaction> Record = ViewBag.data;
                        decimal total = 0;
                        int lastItem = Record.Count - 1;
                        decimal a = 0;
                        DateTime firstDate = DateTime.MinValue;
                        DateTime secondDate = DateTime.MinValue;

                        int lastYear = 0;
                    }
                    @for (int i = 0; i < Record.Count; i++)
                    {
                        int monthN = Convert.ToInt32(Record[i].month_No);
                        var formatedDate = Record[i].FormattedDate;
                        var splitedDate = formatedDate.Split('.');
                        int yearNo = Convert.ToInt32(splitedDate[0]);
                        int monthNo1 = Convert.ToInt32(splitedDate[1]);
                        int dayNo = Convert.ToInt32(splitedDate[2]);
                        //firstDate = Convert.ToDateTime(monthNo1 + "/"  + dayNo + "/" + yearNo);

                        var month = Record[i].FormattedDate;
                        var testmonth = month.Split('.');
                        month = testmonth[0] + "." + "03" + "." + "31";
                        if (i == 0)
                        {
                            //if (monthN < 13)
                            //{
                            <tr>
                                <td></td>
                                <td></td>
                                <td colspan="3"><strong>अवकास कोष <span class="nepali-font">@month </span>सम्मको  मौज्दात</strong></td>
                                @*<td class="nepali-font"><strong> @total</strong></td>*@
                                <td class="nepali-font"><strong> @Record[i].TotalYearlyAmount</strong></td>
                                <td></td>
                                <td class="nepali-font"><strong>@Record[i].TotalYearlyIntrest</strong></td>

                            </tr>
                            //}

                        }
                        else if (Record[i - 1].yearid != Record[i].yearid)
                        {
                            //if (monthN < 13)
                            //{
                            <tr>
                                <td></td>
                                <td></td>
                                <td colspan="3"><strong>अवकास कोष <span class="nepali-font">@month </span>सम्मको  मौज्दात</strong></td>
                                <td class="nepali-font"><strong> @Record[i].TotalYearlyAmount</strong></td>
                                <td></td>
                                <td class="nepali-font"><strong>@Record[i].TotalYearlyIntrest</strong></td>

                            </tr>
                            //}
                        }
                        int first = (Convert.ToInt32(Record[i].Year) - 2);
                        int second = (Convert.ToInt32(Record[i].Year) - 1);
                        if (monthN > 12)
                        {
                            <tr>
                                @*<td class="nepali-font">@Model.OfficeDetail.OfficeID</td>*@
                                <td class="nepali-font">@Record[i].OfficeCode</td>
                                <td class="nepali-font">@Record[i].EmployeeCode</td>
                                <td class="nepali-font">@Record[i].FormattedDate</td>
                                <td class="nepali-font">@Record[i].Year</td>
                                <td class="nepali-font">@Record[i].Month</td>
                                <td class="nepali-font">@Record[i].Amount</td>
                                <td class="nepali-font">@Record[i].Days</td>
                                <td class="nepali-font">@Record[i].Interest</td>
                            </tr>
                        }
                        if (monthN < 13)
                        {
                            <tr>
                                @*<td class="nepali-font">@Model.OfficeDetail.OfficeID</td>*@
                                <td class="nepali-font">@Record[i].OfficeCode</td>
                                <td class="nepali-font">@Record[i].EmployeeCode</td>
                                <td class="nepali-font">@Record[i].FormattedDate</td>
                                <td class="nepali-font">@Record[i].Year</td>
                                <td class="nepali-font">@Record[i].Month</td>
                                <td class="nepali-font">@Record[i].Amount</td>
                                <td class="nepali-font">@Record[i].Days</td>
                                <td class="nepali-font">@Record[i].Interest</td>
                            </tr>
                        }
                        @*if (monthN > 12 && yearNo == lastYear+1)
                    {
                        <tr>
                            @*<td class="nepali-font">@Model.OfficeDetail.OfficeID</td>
                            <td class="nepali-font">@Record[i].OfficeCode</td>
                            <td class="nepali-font">@Record[i].EmployeeCode</td>
                            <td class="nepali-font">@Record[i].FormattedDate</td>
                            <td class="nepali-font">@Record[i].Year</td>
                            <td class="nepali-font">@Record[i].Month</td>
                            <td class="nepali-font">@Record[i].Amount</td>
                            <td class="nepali-font">@Record[i].Days</td>
                            <td class="nepali-font">@Record[i].Interest</td>
                        </tr>
                    }*@

                    if (lastItem == i)
                    {
                        total = Convert.ToDecimal(Record[i].YearlySum) + total + Convert.ToDecimal(Record[i].YearlyIntrest) + Convert.ToDecimal(Record[i].TotalYearlyIntrest);
                        a = (Convert.ToDecimal(Record[i].YearlyIntrest) + Convert.ToDecimal(Record[i].TotalYearlyIntrest));
                        <tr>
                            <td colspan="5"><strong></strong></td>
                            <td class="nepali-font"><strong>@(total + (-a))</strong></td>
                            <td></td>
                            <td class="nepali-font"><strong>@(Convert.ToDecimal(Record[i].YearlyIntrest) + Convert.ToDecimal(Record[i].TotalYearlyIntrest))</strong></td>

                            @*<td class="nepali-font"><strong>@Record[i].YearlyIntrest</strong></td>*@

                        </tr>

                    }
                    else if (Record[i].yearid != Record[i + 1].yearid)
                    {
                        //int monthNo = Convert.ToInt32(Record[i].month_No);
                        //var formatedDate1 = Record[i].FormattedDate;
                        //var splitedDat1e = formatedDate.Split('.');
                        //int yearNo1 = Convert.ToInt32(splitedDate[0]);
                        //int monthNo11 = Convert.ToInt32(splitedDate[1]);
                        //int dayNo1 = Convert.ToInt32(splitedDate[2]);
                        //secondDate = Convert.ToDateTime(monthNo1 + "/" + dayNo + "/" + yearNo);
                        if (monthN > 12)
                        {
                            var abcd = yearNo;
                            var sdf = lastYear;
                        }
                        if (monthN < 13)
                        {
                            total = Convert.ToDecimal(Record[i].YearlySum) + total + Convert.ToDecimal(Record[i].YearlyIntrest) + Convert.ToDecimal(Record[i].TotalYearlyIntrest);
                            a = (Convert.ToDecimal(Record[i].YearlyIntrest) + Convert.ToDecimal(Record[i].TotalYearlyIntrest));
                            <tr>
                                <td colspan="5"><strong></strong></td>
                                <td class="nepali-font"><strong>@(total + (-a))</strong></td>
                                <td></td>
                                <td class="nepali-font"><strong>@(Convert.ToDecimal(Record[i].YearlyIntrest) + Convert.ToDecimal(Record[i].TotalYearlyIntrest))</strong></td>
                            </tr>
                            }
                            //else if (monthN > 12 && yearNo == lastYear+1)
                            //{
                            //    total = Convert.ToDecimal(Record[i].YearlySum) + total + Convert.ToDecimal(Record[i].YearlyIntrest) + Convert.ToDecimal(Record[i].TotalYearlyIntrest);
                            //    a = (Convert.ToDecimal(Record[i].YearlyIntrest) + Convert.ToDecimal(Record[i].TotalYearlyIntrest));
                            //}
                            //else if (Record[i].OfficeCode == "11429")
                            //{
                            //    total = Convert.ToDecimal(Record[i].YearlySum) + total + Convert.ToDecimal(Record[i].YearlyIntrest) + Convert.ToDecimal(Record[i].TotalYearlyIntrest);
                            //    a = (Convert.ToDecimal(Record[i].YearlyIntrest) + Convert.ToDecimal(Record[i].TotalYearlyIntrest));
                            //}
                            else if (monthN > 12)
                            {
                                total = Convert.ToDecimal(Record[i].YearlySum) + total + Convert.ToDecimal(Record[i].YearlyIntrest) + Convert.ToDecimal(Record[i].TotalYearlyIntrest);
                                a = (Convert.ToDecimal(Record[i].YearlyIntrest) + Convert.ToDecimal(Record[i].TotalYearlyIntrest));
                            }
                            lastYear = yearNo;

                        }



                    }
                    <tr><td></td><td></td><td></td><td></td><td></td><td><strong>जम्मा :</strong></td><td><strong> <span class="nepali-font">@(total)</span></strong></td></tr>

                </tbody>
            </table>































































































































































































































































































































































































































































































































        </div>
       
        <div class="row">
            <div class="col-lg-12 col-md-12">
            </div>
        </div>
    </div>
</div>
<p>तपाँईको कोष कट्टी रकम यस बिवरणबाट चित्त नबुझेमा कोषमा सम्पर्क राख्नु होला । कोष कट्टी बिवरण पठाउँदा कर्मचारीको परिचय पत्र नं. अनिवार्य रुपमा उल्लेख भएको हुनु पर्नेछ ।</p>
