﻿@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@font-face
{
    font-family:PCS;
    src: local("PCS"), url(/fonts/pcsnepali.TTF) format("truetype");
}
body{ background-color:#efefef; font-family: 'Roboto Condensed', sans-serif;}
.nepali-font{ font-family:'PCS NEPALI';}
.site-header{background-color:#05619b; color:#ffffff; padding:20px 10px;}
.nogutter{ margin:0; padding:0;}
.main-container{ background-color:#ffffff; padding:20px 30px; margin-top:10px;}
.footer-content{ background-color:#05619b; color:#ffffff; text-align:center; padding:20px 0;}
.make-flat{ border-radius:0;}
.center-content{ text-align:center;}
.red-color{ color:red;}
.white-text{ color:white;}
.white-text:hover{ color:white;}
.search-table tr td{ padding:0 5px;}

/*Login Error CSS*/
.error-label{ padding:5px 0; color:red; font-size:12px;}
.upper-error{ text-align:center; color:red; font-size:12px; text-align:center;}


.user-info-bar{ padding:5px 0;}

        @media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
